<footer>
    <div class="foot-panel1">
        <ul>
            <p>Contact Details</p>
            <a href="mailto:surajpandey7493@gmail.com">Suraj Pandey's Gmail</a>
            <a href="mailto:tanmay.ahuja71a@gmail.com">Tanmay Ahuja's  Gmail</a>
            <a href="tel:9149058210">Suraj Pandey's Phone Number</a>
            <a href="tel:9997613897">Tanmay Ahuja's Phone Number</a>
            <a target="_blank" href="https://www.instagram.com/spsurajpandeysp">Suraj Pandey's Instagram</a>
            <a target="blank" href="https://www.instagram.com/__tanmay__71">Tanmay Ahuja's Instagram</a>
        </ul>
        <ul>
            <p>Features</p>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'services' %}">Services</a>
            <a href="{% url 'feedback' %}">Feedback </a>
            <a href="{% url 'aboutUs' %}">About Us</a>
            <a href="{% url 'complain' %}">Complain</a>
            <a href="{% url 'contactUs' %}">Contact Us</a>
        </ul>
        <ul>
            <p>Get to Know More Us</p>
            <a>Licence</a>
            <a>security</a>
            <a>Accuracy</a>
            <a>Free ot Use</a>
            <a>Guide</a>
            <a>Help</a>
        </ul>
    </div>
    <div class="foot-panel2">
        <div class="pages">
            <a>Conditions of Use</a>
            <a>Privacy Notice</a>
            <a>Your Ads Privacy Chocies</a>
        </div>
        <div class="copyright">
            copyright by object detection website owner
        </div>
    </div>
</footer>