.box{

    height: 100%;
    background-color:white;
    width: 35%;
    padding: 10px;
    margin-top:25px;
    text-align: center;

}
.service-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 25px;
    margin-bottom: 2px;
}
.box1-img{
    background-image: url("/static/media/objectdetection-image.jpeg");
    background-size: cover;
    height: 280px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 1px;
    padding-right: 1px;
    width: 98.9%;
}
.box2-img{
    background-image: url("/static/media/Car.jpg");
    background-size: cover;
    height: 318px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 1px;
    padding-right: 1px;
    width: 99.7%;
}
.box3-img{
    background-image: url("/static/media/People.jpg");
    background-size: cover;
    height: 300px;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 1px;
    padding-right: 1px;
    width: 98.7%;
}
.box-button{
    background-color: white;
}
